/* main_window */

paned.sidebar_paned {
    background-color: mix(@theme_base_color, @theme_bg_color, 0.5);
}

/* preferences */

box.preferences-page checkbutton check {
    margin-left: 1px;
    margin-right: 6px;
}
box.preferences-page radiobutton radio {
    margin-left: 1px;
    margin-right: 6px;
}
box.preferences-page .description {
    color: mix(@theme_fg_color, @theme_bg_color, 0.3);
    font-size: 13px;
}

/* items */

box.item-todo {
    padding: 7px 0px 8px 0px;
    border-bottom: 1px solid mix(@borders, @theme_bg_color, 0.5);
}
box.yellow20 { background-color: rgba(97.6%,94.1%,42%,0.6); }
box.yellow19 { background-color: rgba(97.6%,94.1%,42%,0.57); }
box.yellow18 { background-color: rgba(97.6%,94.1%,42%,0.54); }
box.yellow17 { background-color: rgba(97.6%,94.1%,42%,0.51); }
box.yellow16 { background-color: rgba(97.6%,94.1%,42%,0.48); }
box.yellow15 { background-color: rgba(97.6%,94.1%,42%,0.45); }
box.yellow14 { background-color: rgba(97.6%,94.1%,42%,0.42); }
box.yellow13 { background-color: rgba(97.6%,94.1%,42%,0.39); }
box.yellow12 { background-color: rgba(97.6%,94.1%,42%,0.36); }
box.yellow11 { background-color: rgba(97.6%,94.1%,42%,0.33); }
box.yellow10 { background-color: rgba(97.6%,94.1%,42%,0.3); }
box.yellow9 { background-color: rgba(97.6%,94.1%,42%,0.27); }
box.yellow8 { background-color: rgba(97.6%,94.1%,42%,0.24); }
box.yellow7 { background-color: rgba(97.6%,94.1%,42%,0.21); }
box.yellow6 { background-color: rgba(97.6%,94.1%,42%,0.18); }
box.yellow5 { background-color: rgba(97.6%,94.1%,42%,0.15); }
box.yellow4 { background-color: rgba(97.6%,94.1%,42%,0.12); }
box.yellow3 { background-color: rgba(97.6%,94.1%,42%,0.09); }
box.yellow2 { background-color: rgba(97.6%,94.1%,42%,0.06); }
box.yellow1 { background-color: rgba(97.6%,94.1%,42%,0.03); }
box.item-todo checkbutton.check {
    transition: none;
    padding: 9px 4px 9px 1px;
}
.nopad {
    padding: 0px;
    margin: 0px;
}
box.item-todo button.text-label {
    padding: 0px 8px 0px 8px;
    transition: none;
    box-shadow: none;
    background: none;
    border: 1px solid rgba(0%,0%,0%,0.0);
}
box.item-todo button.text-label:hover {
    border: 1px solid @borders;
}
.item-todo-hover button.text-label {
    background: red;
}
box.item-done {
    transition: none;
    padding: 0px 0px 1px 0px;
    opacity: 1;
}
box.item-done checkbutton {
    padding: 4px 4px 4px 1px;
}
box.item-done label {
    text-decoration: line-through;
}

/* entrybar */

box.entrybar {
    padding: 6px 6px 6px 6px;
    border-top: 1px solid @borders;
}
box.entrybar entry {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 0px;
}
popover.entrybar-project-popover {
    padding: 2px 0px;
}
popover.entrybar-project-popover list {
    background: @theme_bg_color;
}
popover.entrybar-project-popover list row.selected {
    font-weight: bold;
}
popover.entrybar-project-popover list row {
    border-radius: 4px;
    padding: 4px 6px;
}
label.placeholder-text {
    color: mix(@theme_fg_color, @theme_bg_color, 0.4);
}

/* sidebar */

label.sidebar-headline {
    font-weight: bold;
    font-size: 13px;
    color: mix(@theme_fg_color, @theme_bg_color, 0.4);
    border-bottom: 1px solid mix(@borders, @theme_bg_color, 0.5);
    padding-top: 13px;
    padding-bottom: 6px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 9px;
    margin-right: 9px;
}
row.sidebar-entry {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
}
row.sidebar-entry:not(:selected) label.todo-number {
    color: mix(@theme_fg_color, @theme_bg_color, 0.4);
}
row.sidebar-entry:selected {
}

/* popovers */

label.popover-dialog-header {
    font-weight: bold;
}
popover label.keyboard-shortcut {
    color: mix(@theme_base_color, @theme_fg_color, 0.6);
    margin-left: 18px;
}

/* dialogs */

label.dialog-entry-header {
    font-weight: normal;
}


